#Rename this file to container.env to be used in docker-compose. change the credentials as you need

REUNI_HOST=http://172.20.0.1:8080
REUNI_SERVICE=service-2-testingorg
REUNI_NAMESPACE=default
REUNI_AUTHORIZATION=
REUNI_START_COMMAND=./test.sh
REDIS_HOST=172.20.0.1
REDIS_PORT=6379