#Rename this file to container.env to be used in docker-compose. change the credentials as you need

REUNI_HOST="http://localhost:8080"
REUNI_SERVICE=  "test-service"
REUNI_NAMESPACE= "development"
REUNI_AUTHORIZATION= ""
REUNI_START_COMMAND=bin/test.sh
